#style--basic {

    .tabs {
        &__header {
            border-bottom: 1px solid #dee2e6;
            display: flex;
            flex-wrap: wrap;
            padding-left: 0;
            margin-bottom: 0;
        }

        &__item {
            background-color: pink;
            margin-bottom: -1px;
            background: 0 0;
            border: 1px solid transparent;
            border-top-left-radius: .4rem;
            border-top-right-radius: .4rem;
            display: block;
            padding: .8rem 1.6rem;
            color: mix(black, $primary, 10%);
            transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
        
            &.active {
                color: #495057;
                background-color: #fff;
                border-color: #dee2e6 #dee2e6 #fff;
            }

            &:not(.active):hover {
                cursor: pointer;
                border-color: #e9ecef #e9ecef #dee2e6;
                isolation: isolate;
            }
        }

        &__content {
            >.tab-pane {
                display: none;
            }
    
            >.active {
                display: block;
            }

            .tab-pane {
                padding: 2rem;
            }

            .fade-in {
                opacity: 0;
                animation: fadeIn .5s ease-in 1 forwards;
            }
        
            // Fade in animation
            @keyframes fadeIn {
                to {
                    opacity: 1;
                }
            }
        }
    }

}



/* HTML ===========================================================================

    <div class="tabs" onClick={openTab}>
        <div class="tabs-item active">Item 1</div>
        <div class="tabs-item">Item 2</div>
        <div class="tabs-item">Item 3</div>
    </div>

    <div class="tab-content">
        <div class="tab-pane fade show active" id="first">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem sapiente quidem quibusd</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi eligendi quaerat sun.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa nulla velit, hic cumque ut corrupti!</p>
        </div>
        <div class="tab-pane fade" id="second">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi eligendi quaerat sunt! Magnam</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa nulla velit, hic cumque ut corrupti!</p>
        </div>
        <div class="tab-pane fade" id="third">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi eligendi quaerat sunt! Magnam</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa nulla velit, hic cumque ut corrupti!</p>
            <p>Consectetur ducimus dolorem vitae corporis, magnam possimus</p>
        </div>
    </div>

================================================================================ */

/* JavaScript =====================================================================

    const openTab = (e) => {
        const tabs = document.getElementsByClassName('tabs-item');
        const tabContent = document.getElementsByClassName('tab-pane');

        // Close all tabs that aren't the target
        for (let i = 0; i < tabs.length; i++) {
            if (tabs[i] !== e.target) {
                tabs[i].classList.remove('active');
                tabContent[i].classList.remove('show');
                tabContent[i].classList.remove('active')
            } else {
                tabs[i].classList.add('active');
                tabContent[i].classList.add('active');
                setTimeout(() => { tabContent[i].classList.add('show');}, 150);
            }
        }
    }


================================================================================ */
