:root {
    --primary: #4ADCDC;
    --primary-light: #B3F0F1;
    --primary-dark: #4DC5C5;
  }

.btn {
    position: relative;
    font-family: Lato;
    color: white;
    margin-bottom: 10px;
    font-size: 1.6rem;
    padding: 6px 12px;
    border-radius: 4px;
    text-align: center;
    border: 1px solid transparent;
    line-height: inherit;
    transition: color .15s ease-in-out, 
        background-color .15s ease-in-out, 
        border-color .15s ease-in-out,
        box-shadow .15s ease-in-out;
}

/* Primary Button  */
.btn-primary {
    background-color: var(--primary);
}

.btn-primary:focus {
    box-shadow:  0 0 0 .3rem var(--primary-light);
    background-color:  var(--primary-dark);
}

.btn-primary:hover {
    background-color: var(--primary-dark);
}

.btn-primary:disabled {
    background-color: var(--primary-light);
    cursor: auto;
}

/* Primary Outline Button */
.btn-outline-primary {
    background-color: transparent;
    color: var(--primary);
    border: 1px solid var(--primary);
}

.btn-outline-primary:focus {
    box-shadow:  0 0 0 .3rem var(--primary-light);
    background-color: var(--primary);
    color: #fff;
}

.btn-outline-primary:hover {
    background-color:  var(--primary);
    color: #fff;
}

.btn-outline-primary:disabled {
    background-color: var(--primary-light);
    cursor: auto;
    color: #fff;
}

/* Rounded */
.btn.btn-round {
    border-radius: 2.8rem;
}

/* Loading */
.btn-loading .btn-text {
    visibility: hidden;
    opacity: 0;
}

/* Loading */
.btn-loading::after {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: 3px solid transparent;
    border-top-color: #fff;
    border-radius: 50%;
    animation: button-loading-spinner .8s ease infinite;
}

@keyframes button-loading-spinner {
    from {
        transform: rotate(0turn);
    }
    to {
        transform: rotate(1turn);
    }
}

/* Floating */
.btn-floating {
    position: fixed;
    right: 3rem;
    bottom: 3rem;
    width: 6rem;
    height: 6rem;
    background: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #fff;
    font-size: 2.5rem;
    box-shadow: 1px 2px 7px rgba(0, 0, 0, .25);
    transition: background .25s;
    z-index: 100;
}

.btn-floating:active,
.btn-floating:hover {
    background: var(--primary-dark);
}

@media only screen and (max-width: 1200px) { 
    .btn-floating {
        right: 2rem;
        bottom: 8rem;
    }
}