/* HTML ===========================================================================

    <nav class="bottom-nav" onClick={activeTab}>
        <a href="" class="bottom-nav-link">
            <i class="fas fa-th-large"></i>
            <span class="bottom-nav-text">Dashboard</span>
        </a>
        <a href="" class="bottom-nav-link">
            <i class="fas fa-folder"></i>
            <span class="bottom-nav-text">Projects</span>
        </a>
        <a href="" class="bottom-nav-link active">
            <i class="fas fa-lock"></i>
            <span class="bottom-nav-text">Security</span>
        </a>
        <a href="" class="bottom-nav-link">
            <i class="fas fa-user-alt"></i>
            <span class="bottom-nav-text">Profile</span>
        </a>
    </nav>

================================================================================ */

/* JavaScript =====================================================================

    const activeTab = (e) => {
        const tabs = document.getElementsByClassName('bottom-nav-link');
        let clickedTab;

        // Check for clicks on span and i
        if (e.target.tagName === 'SPAN' || e.target.tagName === 'I') {
            clickedTab = e.target.parentElement;
        } else {
            clickedTab = e.target
        }

        // Deactivate all tabs that aren't the target
        for (let i = 0; i < tabs.length; i++) {

            if (tabs[i] !== clickedTab) {
                tabs[i].classList.remove('active');
            } else {
                tabs[i].classList.add('active');
            }
        }
    }

================================================================================ */

.bottom-nav {
    position: fixed;
    bottom: 0;
    height: 5.5rem;
    box-shadow: 0 0 3px rgba(0, 0, 0, .2);
    background-color: #fff;
    display: none;
    overflow-x: auto;
    width: 100%;
}

.bottom-nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1; 
    min-width: 5rem;
    overflow: hidden;
    white-space: nowrap;
    justify-content: center;
    font-size: 1.3rem;
    color: #444444;
    transition: background-color 0.1s ease-in-out;
}

.bottom-nav-link:hover {
    background-color: #eeeeee;
}

.bottom-nav-link i {
    font-size: 1.8rem; 
}

.bottom-nav-link.active {
    color: $primary;
}


@media only screen and (max-width : 1400px) { 
    body {
        margin-bottom: 5.5rem;
    }

    .bottom-nav {
        display: flex;
    }
}