/* ===================================
   Standard button
==================================== */
.btn {
    font-family: Lato;
    color: white;
    margin: 2px;
    margin-bottom: $default-margin;
    font-size: 1.6rem;
    padding: 4px 17px;
    border-radius: 4px;
    text-align: center;
    border: 1px solid transparent;
    line-height: inherit;
    transition: color .15s ease-in-out,background-color .15s ease-in-out, border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

a.btn {
    padding: 7px 17px
}



/* ===================================
   Add color
==================================== */

// Primary
.btn-primary {
    background-color: $primary;
}

.btn-primary:focus {
    box-shadow:  0 0 0 .3rem mix(white, $primary, 55%);
    background-color:  mix(black, $primary, 10%);
}

.btn-primary:hover {
    background-color: mix(black, $primary, 10%);
}

.btn-primary:disabled {
    background-color: mix(white, $primary, 45%);
    cursor: auto;
}

// Pink
.btn-pink {
    background-color: $pink;
}

.btn-pink:focus {
    box-shadow:  0 0 0 .3rem mix(white, $pink, 55%);
    background-color:  mix(black, $pink, 10%);
}

.btn-pink:hover {
    background-color: mix(black, $pink, 10%);
}

.btn-pink:disabled {
    background-color: mix(white, $pink, 45%);
    cursor: auto;
}



/* ===================================
   Outline button
==================================== */

.btn-outline-pink {
    background-color: transparent;
    color: $pink;
    border: 1px solid $pink;
}

.btn-outline-pink:focus {
    box-shadow:  0 0 0 .3rem mix(white, $pink, 55%);
    background-color: $pink;
    color: #fff;
}

.btn-outline-pink:hover {
    background-color:  $pink;
    color: #fff;
}

.btn-outline-pink:disabled {
    background-color: mix(white, $pink, 45%);
    cursor: auto;
    color: #fff;
}

// Teal
.btn-outline-pink {
    background-color: transparent;
    color: $teal;
    border: 1px solid $teal;
}

.btn-outline-pink:focus {
    box-shadow:  0 0 0 .3rem mix(white, $teal, 55%);
    background-color: $teal;
    color: #fff;
}

.btn-outline-pink:hover {
    background-color:  $teal;
    color: #fff;
}

.btn-outline-pink:disabled {
    background-color: mix(white, $teal, 45%);
    cursor: auto;
    color: #fff;
}

/* ===================================
   Round button
==================================== */

// Round Button 
.btn-round {
    border-radius: 2.8rem;
}

/* ===================================
   Close button
==================================== */

.btn-close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    padding: 1.2rem 2rem;
    color: inherit;
    background-color: transparent;
    border: 0;
    font-size: 2.4rem;
    font-weight: 100;
    line-height: 1;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}