/* ===================================
   Glowing corners
==================================== */

.card-container {
    background-color: #0e1538;
    width: calc(100% + 7rem);
    transform: translateX(-3.5rem);
    padding: 7rem 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


.card-glowing {
    position: relative;
    width: 30rem;
    height: 40rem;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center; 
    font-family: Poppins;
}
 
.card-glowing::before {
    content: "";
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    background: linear-gradient(315deg, #00ccff, #0e1538, #d400d4);
    transform: skewX(2deg) skewY(4deg);
}

.card-glowing::after {
    content: "";
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    transform: skewX(2deg) skewY(4deg);
    background: linear-gradient(315deg, #00ccff, #0e1538, #d400d4);
    filter: blur(10px);
}

.card-glowing span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0e1538;
    z-index: 10;
}

.card-glowing h2 {
    position: relative;
    z-index: 11;
    color: #fff;
    font-size: 10em;
}
