/* HTML ===========================================================================

    <button class="btn btn-primary" onClick={collapse} > Open </button>
    
    <div class="collapse" id="collapse">
        <div class="card">
            <div class="card-body">
            </div>
        </div>
    </div>

================================================================================ */

/* JavaScript =====================================================================

    function collapse() {
        const content = document.getElementById('collapse');
        content.style.maxHeight ? content.style.maxHeight = null : 
            content.style.maxHeight = content.scrollHeight + "px";
    }

================================================================================ */

/* React ==========================================================================

    import React, { useRef } from 'react';

    const Collapse = () => {

        const content = useRef(null);

        function collapse() {
            content.current.style.maxHeight ? 
                content.current.style.maxHeight = null : 
                content.current.style.maxHeight = content.current.scrollHeight + "px";
        }


        return (
            <section id="collapse">
                <div className="row">
                    <div className="col-4">

                        <button className="btn btn-primary" onClick={collapse} > Open Collapse </button>

                        <div className="collapse" ref={content}>
                            <div className="card">
                                <div className="card-body">
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti id veritatis nemo nisi cumque, dolores dolor consequuntur nihil? Asperiores, optio adipisci beatae explicabo sequi consequuntur nostrum libero error non recusandae.
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>

        )
    }

    export default Collapse;

================================================================================ */

.collapse {
    max-height: 0;
    overflow: hidden;
    transition: max-height .35s ease-in-out;
}