/* HTML ===========================================================================

    <div class="dropdown">
        <button class="btn btn-primary btn-dropdown" id="dropdown1" onClick={toggleDropdown}>
            Dropdown button
        </button>
        <ul class="dropdown-menu" data-dropdown="dropdown1">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
    </div>

================================================================================ */

/* JavaScript =====================================================================

    function toggleDropdown(e) {
        document.querySelector(`[data-dropdown=${e.target.id}]`).classList.toggle('show');
    }

================================================================================ */

.dropdown {
    position: relative;
}

// Dropdown button
.btn-dropdown {
    white-space: nowrap;
    margin-bottom: 0;
}

// Dropdown caret
.btn-dropdown::after {
    display: inline-block;
    margin-left: 10px;
    vertical-align: calc(5px * .85);
    content: "";
    border-top: 5px solid;
    border-right: 5px solid transparent;
    border-bottom: 0;
    border-left: 5px solid transparent;
}

// Dropdown menu
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    min-width: 7rem;
    padding: 8px 0;
    margin: 3px 0 0;
    color: $dark;
    text-align: left;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
}

.dropdown-menu.show {
    display: block;
}

// Dropdown item
.dropdown-item {
    display: block;
    width: 100%;
    padding: 4px 16px;
    clear: both;
    color: $dark;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

// Hover and focus
.dropdown-item:hover,
.dropdown-item:focus {
    background-color: #e9ecef;
}


// Active
.dropdown-item.active,
.dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: $primary;
}