/* HTML ===========================================================================

    <div class="gallery-container">
        <div class="gallery-main">
            <img src={slide1} id="current" />
        </div>
        <div class="gallery-images" onClick={setImage}>
            <img src={slide1} />
            <img src={slide2} />
            <img src={slide3} />
        </div>
    </div>

================================================================================ */

/* JavaScript =====================================================================

    const opacity = 0.2;
    let current, images;

    const setUpGallery = () => {

        // Set up variables
        current = document.querySelector('.gallery-main #current');
        images = document.querySelectorAll('.gallery-images img');

        // Set first image opacity
        images[0].style.opacity = opacity;
    }
    
    useEffect(() => {
        setUpGallery();
    })

    const setImage = (e) => {
        if (e.target.tagName === 'IMG') {
            // Reset opacity of all images
            images.forEach(img => img.style.opacity = 1);

            // Change main image src to clicked image src
            current.src = e.target.src;

            // Add fade in class
            current.classList.add('fade-in');

            // Remove fade-in class
            setTimeout(() => {
                current.classList.remove('fade-in');
            }, 500);

            // Change the opacity
            e.target.style.opacity = opacity;    
        }
    }

================================================================================ */

/* React ==========================================================================

    import React, { useRef, useState } from 'react';

    /* Props
    =========================================== 
    // images: [img]

    const Gallery = ({ images }) => {

        const [current, setCurrent] = useState(0);
        const [opacity, setOpacity] = useState(0.2);
        
        const main = useRef(null);




        const setImage = (e) => {

            setCurrent(Number(e.target.id));

            // Add fade-in class
            main.current.classList.add('fade-in');

            // Remove fade-in class
            setTimeout(() => {
                main.current.classList.remove('fade-in');
            }, 500);
        }



        return (
            <section id="gallery">
                <div className="row">
                    <div className="col-8">
                        <div className="gallery-container">
                            <div className="gallery-main">
                                <img src={images[current]} ref={main} />
                            </div>
                            <div className="gallery-images">
                                {
                                    images.map((image, i) => (
                                        <img id={i} onClick={setImage} key={i} src={image} style={{ opacity: `${current === i ? opacity : 1}` }} />
                                    ))
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        )
    }

    export default Gallery;

================================================================================ */

.gallery-container {
    max-width:  90rem;
}

.gallery-main img,
.gallery-images img {
    width: 100%;
}

.gallery-images {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap:  5px; 
}

.fade-in {
    opacity: 0;
    animation: fadeIn .5s ease-in 1 forwards; 
}

// Fade in animation
@keyframes fadeIn {
    to {
        opacity: 1;
    }
}