/* HTML ===========================================================================

    <button class="btn btn-primary" id="modal1" onClick={openModal}>
        Launch demo modal
    </button>

    <div class="modal" data-modal="modal1" onClick={closeModal}>
        <div class="modal-content">

            <div class="modal-header">
                <p class="modal-title">Title</p>
                <span class="modal-close">&times;</span>
            </div>

            <div class="modal-body">
                ...
            </div>

            <div class="modal-footer">
                <button class="btn btn-secondary modal-close" onClick={closeModal}>Close</button>
                <button class="btn btn-primary">Save changes</button>
            </div>

        </div>
    </div>

================================================================================ */

/* JavaScript =====================================================================

    // body needs id="body"

    // Open Modal 
    const openModal = (e) => {
        document.querySelector(`[data-modal=${e.target.id}]`).classList.add('show');
        document.querySelector(`[data-modal=${e.target.id}]`).classList.remove('fade');
        document.getElementById('body').classList.add('modal-open');
    }

    // Close Modal
    const closeModal = (e) => {
        const modal = e.target.classList.contains('modal')
        const closeModal = e.target.classList.contains('modal-close');

        let modalId;

        if (modal || closeModal) {

            // Close the modal clicking outside of it
            if (modal) { modalId = e.target.getAttribute('data-modal'); }

            // Close the modal clicking on the close button
            if (closeModal) { modalId = e.target.parentElement.parentElement.parentElement.getAttribute('data-modal'); }

            document.querySelector(`[data-modal=${modalId}]`).classList.remove('show');
            document.getElementById('body').classList.remove('modal-open');
        }
    }

================================================================================ */

.modal {
    opacity: 0;
    position: fixed;
    z-index: $z-modal;
    left:0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
    transition: opacity .4s ease-in-out;
}

.modal-content {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0, .2);
    color: $dark;
    margin: 5rem auto;
    width: 40%;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
    border-radius: 5px;
    transform:  translateY(-40px);
    transition: transform .3s ease-out;
    z-index: $z-modal-content;
}


// Close Button
span.modal-close  {
    color: gainsboro;
    font-size: 3rem;
    line-height: 0;
}

.modal-close:hover,
.modal-close:focus {
    color: $dark;
    cursor: pointer;
}

// When modal is open
.modal.show {
    opacity: 1;
    pointer-events: auto;
}

.modal.show .modal-content {
    transform: none;
}

// Disable body scrolling
.no-scroll {
    overflow: hidden;
}


// Modal header, body and footer
.modal-header, .modal-body, .modal-footer {
    padding: 1.5rem 2rem;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #dee2e6;
}

.modal-title {
    margin: 0;
}

.modal-footer {
    border-top: 1px solid #dee2e6;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    align-items: center;
    justify-content: flex-end;
}

.modal-footer button {
    margin-bottom: 0;
}

@media only screen and (max-width : 1400px) { 
    .modal-content {
        width: 90%;
        margin: 3rem auto;
    }

    // Modal header, body and footer
    .modal-header, 
    .modal-body, 
    .modal-footer {
        padding: 1.2rem 1.5rem;
    } 
}