/* ================================================================================
   Scrollspy sidebar
================================================================================ */

/* HTML ===========================================================================

    <div className="container main">
        <nav class="sidebar">
            <a href="" class="sidebar-link">Sidenav</a>
            <a href="" class="sidebar-link">Button</a>
            <a href="" class="sidebar-link">Progress</a>
            <a href="" class="sidebar-link">Breadcrumbs</a>
        </nav>
    </div>

================================================================================ */

.main {
    margin-left: 25rem;
    padding-left: 3rem;
    padding-right: 6rem;
    width: auto;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 22rem;
    height: 100%;
    background: #fff;
    padding-top: 9rem;
    border-right: 1px solid rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    overflow-y: scroll;
}

.sidebar-link {
    display: inline-block;
    padding: 5px 35px;
    font-size: 0.9em;
    color: $dark;
}

.sidebar-link:hover,
.sidebar-link.active {
    color: $primary;
}


@media only screen and (max-width : $breakpoint-lg) { 
    
    // Stretch everything in main
    .main section .row .col-1,
    .main section .row .col-2,
    .main section .row .col-3,
    .main section .row .col-4,
    .main section .row .col-5,
    .main section .row .col-6,
    .main section .row .col-7,
    .main section .row .col-8,
    .main section .row .col-9,
    .main section .row .col-10,
    .main section .row .col-11,
    .main section .row .col-12 {
        width: 100%;
    }
}

@media only screen and (max-width : $breakpoint-md) { 
    .main {
        margin: 0rem auto;
        padding: 35px;
    }


    .sidebar {
        display: none;
    }
}

 @media only screen and (max-width: $breakpoint-sm) { 
    .main {
        padding: 25px;
    }
}

/* ================================================================================
   Sidebar with submenu
================================================================================ */

:root {
    // --first-color: #0c5df4;
    --first-color-submenu: #18bdbd;
    --bg-color: #12192c;
    --sub-color: #efffff;
    --normal-font-size: 1.6rem;
    --small-font-size: 1.5rem;
}

.sidebar-submenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 82px;
    height: 100vh;
    background-color: var(--bg-color);
    color:  #fff;
    padding: 2rem 2rem 3rem;
    padding-bottom: 0;
    transition: .3s; 
    z-index: $z-sidebar-submenu;
}

.sidebar-submenu nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.sidebar-submenu__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

/* ===================================
   Nav brand
==================================== */
.sidebar-submenu__brand {
    display: grid;
    grid-template-columns: max-content max-content;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.5rem;
} 

.sidebar-submenu__brand ion-icon {
    font-size: 2.3rem;
    padding: 1rem;
    cursor: pointer;
}

.sidebar-submenu__logo {
    color: #fff;
    font-weight: 600;
    font-family: Poppins;
    padding-left: 10px;
}




/* ===================================
   Nav list
==================================== */
.sidebar-submenu__list {
    justify-self: self-start;
}
.sidebar-submenu__link {
    color: #fff !important;
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: 1rem;
    border-radius: 7px;
    margin-bottom: 1.3rem;
    transition: .3s;
    cursor: pointer;
}

.sidebar-submenu__link ion-icon,
.sidebar-submenu--bottomlink ion-icon {
    font-size: 2.3rem !important;
}

.sidebar-submenu__link:hover {
    background-color: var(--first-color-submenu);
}

.sidebar-submenu__name {
    font-size: var(--small-font-size);
    padding-left: 5px;
}

.sidebar-submenu-active {
    background-color: var(--first-color-submenu);
}


/* ===================================
   Submenu
==================================== */
.sidebar-submenu-collapse {
    grid-template-columns: 20px max-content 1fr;
}

.sidebar-submenu__chevron {
    justify-self: flex-end;
    transition: .5s;
    font-size: 2.3rem;
    line-height: 0;
}

.sidebar-submenu__collapse--menu {
    display: none;
    padding: 1rem 2.5rem;
    flex-direction: column;
}

.sidebar-submenu_collapse--sublink {
    color: var(--sub-color);
    font-size: var(--small-font-size);
}

.sidebar-submenu_collapse--sublink:hover {
    color: #fff;
}

.sidebar-submenu__show-collapse {
    display: flex; 
}

.sidebar-submenu__rotate {
    transform: rotate(180deg);
    transition: .5s;
}


/* ===================================
   Expand menu
==================================== */
.expand {
    width: 200px;
}

body.add-padding,
.sidebar.add-padding {
    padding-left: 122px;
}

.sidebar.add-padding {
    width: 35rem;
}


/* ===================================
   adjust regular sidebar
==================================== */

// .sidebar {
//     left: 8rem;
//     transition: .3s;
// }

// .main {
//     transition: .3s;
//     padding-left: 9rem;
// }

// .glass-morphism {
//     transform: translateX(-4rem) !important;
//     width: calc(100% + 10rem) !important;
// }