/* HTML ===========================================================================

    <div className="container main">
        <nav class="sidebar">
            <a href="" class="sidebar-link">Sidenav</a>
            <a href="" class="sidebar-link">Button</a>
            <a href="" class="sidebar-link">Progress</a>
            <a href="" class="sidebar-link">Breadcrumbs</a>
        </nav>
    </div>

================================================================================ */

.main {
    margin-left: 25rem;
    padding-left: 3rem;
    padding-right: 6rem;
    width: auto;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 22rem;
    height: 100%;
    background: #fff;
    padding-top: 9rem;
    border-right: 1px solid rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    overflow-y: scroll;
}

.sidebar-link {
    display: inline-block;
    padding: 5px 35px;
    font-size: 0.9em;
    color: $dark;
}

.sidebar-link:hover,
.sidebar-link.active {
    color: $primary;
}


@media only screen and (max-width : $breakpoint-lg) { 
    
    // Stretch everything in main
    .main section .row .col-1,
    .main section .row .col-2,
    .main section .row .col-3,
    .main section .row .col-4,
    .main section .row .col-5,
    .main section .row .col-6,
    .main section .row .col-7,
    .main section .row .col-8,
    .main section .row .col-9,
    .main section .row .col-10,
    .main section .row .col-11,
    .main section .row .col-12 {
        width: 100%;
    }
}

@media only screen and (max-width : $breakpoint-md) { 
    .main {
        margin: 0rem auto;
        padding: 35px;
    }


    .sidebar {
        display: none;
    }
}

 @media only screen and (max-width: $breakpoint-sm) { 
    .main {
        padding: 25px;
    }
 }