.toast-container {
    position: fixed;
    z-index: 1000;
    font-size: 1.4rem;
}

.toast {
    background: #fff;
    transition: 0.3s ease;
    position: relative;
    pointer-events: auto;
    overflow: hidden;
    margin: 0 0 6px;
    padding: 2rem;
    margin-bottom: 15px;
    width: 36.5rem;
    max-height: 10rem;
    border-radius: 3px;
    box-shadow: 0 0 10px #999;
    color: #000;
    opacity: 0.9;

    color: #fff;
    padding: 20px 15px 10px 10px;
    animation: toast-in-right 0.7s;
}

.toast--bottom-right {
    bottom: 12px;
    right: 12px;
}

.toast:hover {
    box-shadow: 0 0 12px #fff;
    opacity: 1;
    cursor: pointer;
}

.toast-title {
    font-weight: 700;
    font-size: 1.6rem;
    text-align: left;
    margin-top: 0;
    margin-bottom: 6px;
    width: 30rem;
    height: 1.8rem; 
}

.toast-message {
    margin: 0;
    text-align: left;
    height: 1.8rem;
    margin-left: -1px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 
}

.toast-icon {
    float: left;
    margin-right: 1.5rem;
    font-size: 3.6rem;
}

.toast-close {
    position: absolute;
    top: 4px;
    right: 8px;
    font-size: 2.4rem;
}

@keyframes toast-in-right {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0); 
    }
}