/* HTML ===========================================================================

    <div class="toast-container">
        <div class="toast">
            <div class="toast-header">
                <div class="toast-img"></div>
                <strong class="toast-title">Toast</strong>
                <small>11 mins ago</small>
                <button class="toast-close"><span>&times;</span></button>
            </div>
            <div class="toast-body">
                Hello, world! This is a toast message.
            </div>
        </div>
    </div>

================================================================================ */

.toast-container {
    padding: 1.6rem;
    position: fixed;
    z-index: $z-toast;
    bottom: 0;
    right: 0;
    transition: all 0.3s ease-in-out;
}

.toast-container > :not(:last-child) {
    margin-bottom: 2rem;
}

.toast {
    width: 35rem;
    max-width: 100%;
    font-size: 1.4rem;
    pointer-events: auto;
    background-color: rgba(255,255,255,.85);
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.1);
    box-shadow: 0 0.5rem 1rem rgba(220, 220, 220, 0.562);
    border-radius: 3px;
    animation: toast-right-in 0.6s ease;
}

.toast small {
    font-size: 1.2rem;
    color: #6c757d;
}

.toast-header {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    color: #6c757d;
    background-clip: padding-box;
    border-bottom: 1px solid rgba(0,0,0,.05);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.toast-img {
    width: 2rem;
    height: 2rem;
    background-color: $teal;
    border-radius: 5px;
}

.toast-title {
    font-weight: bolder;
    color: #6c757d;
    margin-right: auto;
    margin-left: 1rem;
}

.toast-close {
    z-index: $z-toast;
    margin-left: 8px;
    color: inherit;
    background-color: transparent;
    border: 0;
    font-size: 2.4rem;
    font-weight: 100;
    line-height: 1;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    transform: translateY(1px);
}

.toast-body {
    padding: 1.2rem;
    word-wrap: break-word;
}


@keyframes toast-right-in {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}
