/* ================================================================================
   Feature Card
================================================================================ */

/* HTML ===========================================================================

    <div class="card">
        <i class="fas fa-globe card-icon"></i>
        <h3 class="card-title">Explore the world</h3>
        <p class="card-text">Lorem ipsum dolor sit amet.</p>
    </div>

================================================================================ */

#style--natours {

    .card {
        background-color: rgba(255, 255, 255, 0.801);
        font-size: 1.6rem;
        padding: 4rem 2.5rem;
        text-align: center;
        border-radius: 3px;
        box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, .15);
        transition: all .3s;
    }

    .card:hover {
        transform: translateY(-1.5rem) scale(1.03);
    }

    .card-icon {
        font-size: 6rem;
        color: gray;
        margin-bottom: 3rem;
        color: transparent;
        background-clip: text;
        display: inline-block;
        background-image: linear-gradient(to right bottom, rgba(255, 222, 113, 0.7), rgba(243, 197, 45, 0.89));
    }

    .card-title {
        text-transform: uppercase;
        color: dimgray;
        font-weight: 700;
    }



    /* ================================================================================
   Rotating Card
================================================================================ */

    /* HTML ===========================================================================

    <div class="card-rotating">
        
        // Card Front
        <div class="card-rotating-side side-front">
            <div class="card-rotating-image image-2"></div>
            <h4 class="card-rotating-heading">
                <span class="card-rotating-heading-span span-2">
                    The Forest Hiker
                </span>
            </h4>
            <div class="card-rotating-details">
                <ul>
                    <li>3 day tours</li>
                    <li>Up to 30 people</li>
                    <li>2 tour guides</li>
                    <li>Sleep in cozy hotels</li>
                    <li>Difficulty: easy</li>
                </ul>
            </div>
        </div>

        // Card Back
        <div class="card-rotating-side side-back back-2">
            <div class="card-rotating-cta">
                <div class="card-rotating-pricebox">
                    <p class="card-rotating-price-only">Only</p>
                    <p class="card-rotating-price-value">$29</p>
                </div>
                <a href="#" class="btn btn-white">Book now!</a>
            </div>
        </div>
    </div>

================================================================================ */

    .card-rotating {
        perspective: 150rem;
        position: relative;
        height: 51rem;
        width: 100%;
    }

    // Card Sides
    .card-rotating-side {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        transition: all .8s ease;
        backface-visibility: hidden;
        border-radius: 3px;
        overflow: hidden;
        box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, .15);
    }

    .side-front {
        background-color: white;
    }

    .side-back {
        transform: rotateY(180deg)
    }


    // Rotate card front
    .card-rotating:hover .side-front {
        transform: rotateY(-180deg);
    }

    // Rotate card back
    .card-rotating:hover .side-back {
        transform: rotateY(0);
    }


    // Front side
    .card-rotating-image {
        background-size: cover;
        height: 23rem;
        background-blend-mode: screen;
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    }


    // Card images
    .card-rotating-side .image-1 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url('../../../assets/nat-5.jpg');
    }

    .card-rotating-side .image-2 {
        background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url('../../../assets/nat-6.jpg');
    }

    .card-rotating-side .image-3 {
        background-image: linear-gradient(to right bottom, #2998ff, #5442fa), url('../../../assets/nat-7.jpg');
    }


    // Card heading
    .card-rotating-heading {
        position: absolute;
        top: 12rem;
        right: 2rem;
        text-align: right;
        font-size: 2.8rem;
        font-weight: 300;
        text-transform: uppercase;
        color: white;
        width: 75%;
    }

    .card-rotating-heading-span {
        padding: 1rem 1.5rem;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
    }

    .card-rotating-heading .span-1 {
        background-image: linear-gradient(to right bottom, rgba(255, 185, 0, .85), rgba(255, 119, 48, .85))
    }

    .card-rotating-heading .span-2 {
        background-image: linear-gradient(to right bottom, rgba(126, 213, 111, .85), rgba(40, 180, 133, .85))
    }

    .card-rotating-heading .span-3 {
        background-image: linear-gradient(to right bottom, rgba(41, 152, 255, .85), rgba(84, 66, 250, 0.85))
    }

    // Card details
    .card-rotating-details {
        padding: 3rem;
    }

    .card-rotating-details ul {
        width: 80%;
        margin: 0 auto;
    }

    .card-rotating-details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem;
        color: dimgrey;
        font-weight: 600;
    }

    .card-rotating-details ul li:not(:last-child) {
        border-bottom: 1px solid #eee;
    }


    // Back side
    .back-1 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
    }

    .back-2 {
        background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
    }

    .back-3 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
    }

    // Call to action
    .card-rotating-cta {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 90%;
    }

    // Price box
    .card-rotating-pricebox {
        color: white;
        margin-bottom: 8rem;
    }

    .card-rotating-price-only {
        font-size: 1.4rem;
        text-transform: uppercase;
    }

    .card-rotating-price-value {
        font-size: 6rem;
        font-weight: 100;
    }


    @media only screen and (max-width: $breakpoint-md),
    only screen and (hover: none) {
        .card-rotating {
            height: auto;
            box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, .15);
        }

        // Card Sides
        .card-rotating-side {
            position: relative;
            height: auto;
            border-radius: 3px;
            box-shadow: none;
        }

        .side-back {
            transform: rotateY(0deg);
            clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
        }

        .card-rotating:hover .side-front {
            transform: rotateY(0deg);
        }


        // Call to action
        .card-rotating-cta {
            position: relative;
            top: 0;
            left: 0;
            transform: translate(0);
            width: 100%;
            padding: 6rem 4rem;
        }

        // Price box
        .card-rotating-pricebox {
            margin-bottom: 3rem;
        }

        .card-rotating-price-only {
            font-size: 1.2rem;
            margin-bottom: 1rem;
        }

        .card-rotating-price-value {
            font-size: 4rem;
        }
    }


    /* ================================================================================
   Testimonial Card
================================================================================ */

    /* HTML ===========================================================================

    <div class="card-testimonial">
            <figure class="card-testimonial-shape">
            <img class="card-testimonial-img" src="" alt=""/>
            <figcaption class="card-testimonial-caption">
                Mary Smith 
            </figcaption>
            </figure>
            <div class="card-testimonial-text">
                <h3 class="card-testimonial-heading">Best Week of my Life</h3>
                <p>Lorem Ipsum</p>
            </div>
    </div>

================================================================================ */

    .card-testimonial {
        width: 75%;
        margin: 0 auto;
        box-shadow: 0 3rem 6rem rgba(0, 0, 0, .1);
        background-color: #fff;
        border-radius: 3px;
        padding: 6rem;
        padding-left: 9rem;
        font-size: 1.6rem;
        transform: skewX(-12deg);
    }

    // Circle shape
    .card-testimonial-shape {
        position: relative;
        width: 15rem;
        height: 15rem;
        float: left;
        shape-outside: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        transform: translate(-3rem) skewX(12deg);
        backface-visibility: hidden;
    }

    // Image in circle
    .card-testimonial-img {
        height: 100%;
        transform: translateX(-4rem) scale(1.4);
        transition: all .5s;
    }

    // Image caption
    .card-testimonial-caption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 20%);
        color: white;
        text-transform: uppercase;
        font-size: 1.7rem;
        text-align: center;
        opacity: 0;
        transition: all .5s;
        backface-visibility: hidden;
    }

    // Testimonial heading
    .card-testimonial-heading {
        font-weight: 600;
        color: slategray;
        text-transform: uppercase;
    }

    // Testimonial text 
    .card-testimonial-text {
        transform: skewX(12deg);
    }

    // Hover image animation
    .card-testimonial:hover .card-testimonial-img {
        transform: translateX(-4rem) scale(1);
        filter: blur(3px) brightness(80%);
    }

    // Hover caption animation
    .card-testimonial:hover .card-testimonial-caption {
        opacity: 1;
        transform: translate(-50%, -50%);
    }


    @media only screen and (max-width: $breakpoint-md) {
        .card-testimonial {
            width: 100%;
            padding: 4rem;
            padding-left: 7rem;
        }
    }

    @media only screen and (max-width: $breakpoint-sm) {
        .card-testimonial {
            transform: skewX(0);
        }

        .card-testimonial-shape {
            transform: translate(-3rem) skewX(0);
        }

        .card-testimonial-text {
            transform: skewX(0);
        }
    }



    /* ===================================
   Solid Gradient Card
==================================== */

    .solid-gradient {
        background-image: linear-gradient(105deg,
                rgba(255, 255, 255, 0.7) 0%,
                rgba(255, 255, 255, 0.7) 60%,
                indigo 60%, ),
            url('../../../assets/pineapple-on-beach.png');
        background-size: cover;
        background-position: center;
        height: 30rem;
    }

}