
.hidden {
    display: none;
}

.hide-mobile {
    display: none;
}



@media only screen and (min-width : $desktop) { 
    .hide-mobile {
        display: block;
      }
    
    .hide-desktop {
        display: none;
    }
}