$default-margin: 1.5rem;
$breakpoint-sm: 37.5em;      // 600px
$breakpoint-md: 56.25em;     // 900px
$breakpoint-lg: 75em;        // 1200px

$primary: #037BFE;
$secondary: #6C757D;
$success: #28A745;
$danger: #DD3444;
$warning: #FFC007;
$info: #13A3B8;
$light: #F8F9FA;
$dark: #333B3F;

$pink: #ED7FC4;